<table mat-table
>
<!-- s[dataSource]="dataSource" -->
  <ng-container matColumnDef="iSBN">
    <th mat-header-cell *matHeaderCellDef>ISBN</th>
    <td mat-cell *matCellDef="let book">{{book.iSBN}}</td>
  </ng-container>

  <ng-container matColumnDef="bookName">
    <th mat-header-cell *matHeaderCellDef>Book Name</th>
    <td mat-cell *matCellDef="let book">{{book.bookName}}</td>
  </ng-container>

  <ng-container matColumnDef="autherName">
    <th mat-header-cell *matHeaderCellDef>Author Name</th>
    <td mat-cell *matCellDef="let book">{{book.autherName}}</td>
  </ng-container>

  <ng-container matColumnDef="bublishDate">
    <th mat-header-cell *matHeaderCellDef>Publish Date</th>
    <td mat-cell *matCellDef="let book">{{book.bublishDate}}</td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Count</th>
    <td mat-cell *matCellDef="let book">{{book.count}}</td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Is Active</th>
    <td mat-cell *matCellDef="let book">{{book.isActive}}</td>
  </ng-container>

  <!-- s -->
</table>
